@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}
/* text-color */
.text-dark02{
    color: #424242;
}
.text-dark03{
    color: #727272;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 20px 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: rgb(12, 154, 12);
}
/* header styles */
.bg-color{
    background-color:rgba(255, 144, 14, 0.1);
}
.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
.navbar{
    justify-content: space-between;
    /* border: 1px solid green; */

}
.nav-items{
    list-style: none;
    margin-left: 40px;
    align-content: center;
}
.nav-link{
    text-decoration: none;
}
.navbar, .banner{
    width: 100%;
    padding: 60px 20px;
    box-sizing: border-box;
}
/* banner related styles */
.banner-content{
    max-width: 700px;
    margin: 0px auto;
    text-align: center;
}
.banner-button{
    margin-top: 32px;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
    color: #131313;

}
.banner-img{
    width: 100%;
}

/* main styles */
.teams{
    /* border: 3px solid red; */
    width: 100%;
    padding: 60px 20px;
    box-sizing: border-box;
}
.goat{
    align-items: center;
    max-width: 1200px;
    margin: auto;
    gap: 40px;
}
.teams-img-container{
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    /* margin-top: 50px; */
    /* margin-left: 45px; */
}
.our-feature{
    /* align-items: center; */
    margin-left: 76px;
    /* max-width: 530px; */
    /* border: 1px solid red; */
}
.feature-title{
    font-weight: 700;
    font-size: 2.8rem;
}
#list{
    font-weight: 500;
}
.fe{
    color: #FF900E;
}
.feature-text{
    font-size: 1rem;
    margin-bottom: 32px;
    margin-top: 24px;
}
/* feature design */
.features-section{
    display: flex;
    gap: 140px;
    margin: 20px auto;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#love-enjoy{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.features-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.features-card{
    padding: 40px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: -100px;
    margin-left: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}


/* Fact design */
.fact-section{
    /* border: 1px solid red; */
    margin: 10px auto;
}
.fact-container{
    /* border: 1px solid green; */
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.kakala{
    margin-left: 20px;
}
.fact-description{
    max-width: 540px;
    margin-left: 20px;
}
.fact{
    margin: 0px auto;
    border: 1px solid #FF900E;
    border-radius: 8px;
    max-width: 240px;
    width: 100%;
    height: 240px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-text{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
/* sponsor related style */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    /* margin: 0px auto; */
}
.sponsor-companies img{
    filter: grayscale(100%);
     margin: 0px auto; 
    /* border: 1px solid green; */
}

/* responsive media qur */
@media screen and (max-width:576px) {
    .navbar, 
    .list-items , .features-section {
        flex-direction: column;
        align-items: center;
     }
     .goat{
        flex-direction: column;
        text-align: center;
     }
    .our-feature{
        margin-left: 0;
    }
    .navbar,
    .banner {
        margin: 5px auto;}
    .teams-img-container {
        grid-template-columns: 1fr;
    }
    .list-items {
        padding: 0;
        gap: 10px;
    }
    .banner-title{
        font-size: 2.5rem;
    }
    .fact-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 30px;
    }
    .features-img img{
        width: 100%;
        margin-top: 0px;
    }
     #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
        padding: 20px;
     }   
     #experience-year {
        font-size: 2rem;
        font-weight: 700;}
}
@media screen and (min-width:576px) and (max-width:992px) {
    .goat{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
.teams-img-container{
    grid-template-columns: repeat(2, 1fr);
}
.our-feature{
    margin-left: 20px;
}
.fact-container{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
.sponsor-companies{
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
}
    
}

