@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}
.text-dark02{
    color: #424242;
}
.text-dark03{
    color: #727272;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    font-weight: 600px;
    font-size: 1.25rem;
    padding: 20px 25px;
    border-radius: 10px;
    border: none;
}

/* header styles */
.bg-color{
    background-color:rgba(255, 144, 14, 0.1);
}
.brand{
    font-weight: 700px;
    font-size: 2.8rem;
}
.navbar{
    justify-content: space-between;
    /* border: 1px solid green; */

}
.nav-items{
    list-style: none;
    margin-left: 40px;
    align-content: center;
}
.nav-link{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0px auto;
}
/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0px auto;
    text-align: center;
}
.banner-button{
    margin-top: 32px;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700px;
    font-size: 4rem;
    color: #131313;

}
.banner-img{
    width: 100%;
}
/* responsive media qur */
@media screen and (max-width:576px) {
    .navbar, .list-items{
        flex-direction: column;
    }
    
}
/* main styles */

/* footer styles */